
layout {
    pane split_direction="horizontal" {
        pane split_direction="vertical" {
            pane name="code" size="80%" command="nvim" focus=true {
                args "."
            }

            pane name="redis" size="20%" split_direction="horizontal" {
                pane name="monitor" command="redis-cli"  {
                    args "-h" "redis.coast.tld" "monitor"
                }

                pane name="cli" command="redis-cli" {
                    args "-h" "redis.coast.tld"
                }
            }
        }
    }
}

