layout {
    tab name="zig-dev" focus=true {
        pane split_direction="vertical" {
            pane size="80%" command="nvim" {
                args "."
            }

            pane size="20%" split_direction="horizontal" {
                pane name="monitor" command="redis-cli" {
                    args "-h" "redis.coast.tld" "monitor"
                }

                pane name="cli" command="redis-cli" {
                    args "-h" "redis.coast.tld"
                }
            }
        }
    }
}

